.list
	position: absolute
	width: 30rem
	height: 100%
	right: 0
	background-color: transparent
	overflow: hidden
	overflow-y: auto
	
	.item
		height: 10rem
		background-color: rgba(0, 0, 0, 0.12)
		color: #8A8A8A
		margin: .2rem 0
		cursor: pointer
		overflow: hidden
		padding: 1rem
		transition: all .256s linear
		font-size: .8rem
		
		&:hover
			color: #111
			background-color: rgba(0, 0, 0, 0.32)
			
			.title
				color: #111

		.title
			font-size: 1rem
			font-weight: 800
			transition: all .256s linear
			margin-bottom: 1rem
			

		.link
			position: absolute
			bottom: 0
