.list
	.items
		.item(ng-repeat="item in list.items track by $index" ng-click="list.onItemClick(item)")
			.title(ng-bind="item.title")
			.description(ng-bind-html="item.description|html")
			.link(ng-bind="item.link")