/**
 *	Do not remove the comments below. It's the markers used by wiredep to inject
 *	stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import url("//fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

@font-face
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
			 local('MaterialIcons-Regular'),
			 url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
			 url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
			 url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');

.material-icons
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';

html, body
	width: 100%
	height: 100%
	margin: 0px
	padding: 0px
	color: #646464
	background-color: #f4f4f4

html	
	overflow: hidden
	overflow-y: auto
body
	position: relative
	
	>div[ui-view], .page
		position: relative
		width: 100%
		height: 100%
	
select
	margin: 0
	padding: 0

a
	text-decoration: none

ul, li
	padding: 0rem
	margin: 0rem
	list-style-type: none

button,.button
	cursor: pointer
	user-select: none

hr
	clear both
	
*
	box-sizing: border-box
	font-family: "Helvetica"
	font-smoothing: antialiased
	text-shadow: rgba(0,0,0,.01) 0 0 1px


/**
 *	Do not remove the comments below. It's the markers used by gulp-inject to inject
 *	all your stylus files automatically
 */
// injector
// endinjector
