.map
	position: absolute
	height: 100%
	width: 100%
	
	ng-map
		position: absolute
		height: 100%
		width: 100%
		

		.custom-marker 
			width: 0.4rem
			height: 0.4rem
			background: #FF3131
			border-radius: 50%
			border: rgba(162, 6, 6, 0.84) solid 1px

.custom-marker-container
	width: 10rem
	height: 4rem
	background-color: white
	box-shadow: 0px 1px 4px 0px rgba(70, 70, 70, 0.13)
	border: 1px solid #E8E8E8
	border-radius: 2px
	
	.title
		text-align: center