.map(map-lazy-load="https://maps.google.com/maps/api/js")
	ng-map(
		center="52.38333, 4.90000" 
		zoom="13" 
		disable-default-u-i="true")

		marker(
			ng-repeat="marker in mapCtrl.markers track by $index"
			position="{{marker.position}}")

		custom-marker(ng-if="mapCtrl.selected" position="{{mapCtrl.selected.position}}")
			.custom-marker-container
				.title(ng-bind="mapCtrl.selected.title")